/** Skeleton **/
* {
	margin: 0;
	padding: 0;
	all: unset;
}
html {
	background-color: lightgray;
	color: blue;
}
a:hover {
	cursor: pointer;
}
span {
	/** Nothing yet **/
}
title {
	display: none;
}
legend {
	color: white;
	background-color: blue;
}
input {
	background-color: lightgray;
	border: solid 2px rgb(195, 195, 195);
	border-radius: 0%;
}
hr {
	all: initial;
	margin: 10px;
	color: black;
	display: flex;
}
br {
	all: initial;
}

/* Style the main element */
main {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	min-height: 100vh;
}

/* Style the footer */

footer {
	text-align: center;
	background-color: #000000;
	color: #fff;
	padding: 10px 0;
	min-height: 5vh;
	display: flex;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	justify-content: center;
	align-items: center;
}

.holder {
	background-color: rgb(195, 195, 195);
	display: inline-block;
	width: 100%;
}

/** End skeleton **/
/** Navbar **/

ul.navbar {
	background-color: #000000;
	color: #fff;
	list-style-type: none;
	font-size: 30px;
	margin: 0;
	padding: 4px;
	justify-content: left;
	align-items: center;
}
ul.navbar li,
ul.navbar form,
ul.navbar {
	display: flex;
}
ul.navbar li {
	margin-left: 1%;
}
ul.navbar form {
	height: 20px;
}
ul.navbar a,
ul.navbar button {
	margin: 0px;
	padding: 0px 5px;
	text-decoration: none;
}
ul.navbar a:hover,
ul.navbar button:hover {
	background-color: #123;
	text-decoration: underline 2px solid #fff;
}

/** End navbar **/
/** Specify specific buttons and elements **/

span.center {
	text-align: center;
}
button[type="submit"] {
	background-color: #333;
	color: #fff;
	border-radius: 0%;
	margin: 15px 0px 0px 0px;
}
button[type="submit"]:hover {
	cursor: pointer;
}

/** End buttons and elements **/
/** Login.php **/

fieldset.login_field,
fieldset.info_field {
	background-color: rgb(195, 195, 195);
	width: 41%;
	height: 700px;
	margin: 0px 4% 0px 4%;
	border-width: 5px;
}

/** End Login.php **/
/** Table content database.php **/

.table-container {
	display: table;
	border-collapse: separate;
	border-color: gray;
	border: 1px solid;
	width: 100%;
	background-color: rgb(122, 120, 116);
}
td,
th,
tbody,
tr,
table {
	background-color: rgb(122, 120, 116);
}
table {
}
/** End database table **/
/** Password formatter **/

/* Style the left column */
.left-column {
	display: flex;
	flex-direction: column;
}
/* Style the left tables */
.left-table {
}
/* Style the right column */
.right-column {
}
/* Style the center text field */
.center-text {
}

/** End password formatter **/
/** Home page **/

/* Style the main content area */
.main-field {
	flex: 1;
	padding: 0px;
}

/* Style the sidebar */
.sidebar {
	width: 20%;
	padding: 0px;
}

/** Sidebar image **/
div.sidebar img {
	width: 100%;
	height: auto;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}

.home_images {
	display: none;
}

.home_images:target {
	display: block;
}

/** End home page **/
/** Style button's options **/

#style1:target ~ footer,
#style1:target ~ ul.navbar {
	background-color: red;
}
#style2:target ~ footer,
#style2:target ~ ul.navbar {
	background-color: green;
}

/** End style button's options **/

/** Remember to use this **/
/**
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
**/
