/** Skeleton **/

html {
    /** background-color: rgb(0, 0, 0); **/
}
html, body {
    margin: 0;
    padding: 0;
}

/* Style the main-page container */
.main-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
}

/* Style the bottom section */
.bottom-section {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/** End skeleton **/

fieldset {
    background-color: rgb(182, 181, 181);
    width: 41%;
    height: 700px;
    margin: 0px 4% 0px 4%;
    border-width: 5px;
}
legend {
    background-color: rgb(168, 166, 166);
}
span {
    background-color: rgb(236, 236, 236);
    display: inline-block;
    width: 100%;
}
input {
    border-radius: 0%;
    margin: 15px 0px 0px 0px;
}
button[type="submit"] {
    border-radius: 0%;
    margin: 15px 0px 0px 0px;
}
button[type="submit"]:hover {
    cursor: pointer;
}

/** Navbar **/

ul[name="navbar"] {
    background-color: rgb(161, 161, 161);
    list-style-type: none;
    margin: 0;
    padding: 25px 0px;
}
ul[name="navbar"] li, ul[name="navbar"] form {
    display: inline;
}
ul[name="navbar"] a, ul[name="navbar"] button {
    background-color: #CCC;
    color: black;
    margin: 0px;
    padding: 0px 5px;
    border: 2px solid #333;
    text-decoration: none;
}

/** End navbar **/

/** Specify certain buttons and elements their looks if need be **/
span[name="center"] {
    text-align: center;
    /** border:1px solid red; **/
}

/** Table content database.php **/
.table-container {
    display: table;
    border-collapse: separate;
    border-color: gray;
    border: 1px solid;
    width: 100%;
    background-color: white;
}

td, th, tbody, tr, table {
    background-color: white;
}

/** Password formatter **/

/* Style the left column */
.left-column {
    display: flex;
    flex-direction: column;
    /* Add styles as needed */
}

/* Style the left tables */
.left-table {

}

/* Style the right column */
.right-column {

}

/* Style the center text field */
.center-text {

}

/** End password formatter **/

/** Home page **/

/* Style the main content area */
.main-field {
    flex: 1;
    padding: 0px;
}

/* Style the sidebar */
.sidebar {
    width: 20%;
    padding: 0px;
}

/** Sidebar image **/
div.sidebar img {
    width: 100%;
    height: auto;
}

/** End home page **/